* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(235, 21%, 11%);
}

header {
  width: 100%;
  height: 40vh;
  background: url("./images/bg-header.jpeg");
  background-size: cover;
}

.todo-app {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
  letter-spacing: 2rem;
}

.create-todo {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  border: 3px solid hsl(234, 39%, 85%);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.add-task {
  width: 100%;
  height: 4.8rem;
  outline: none;
  border: none;
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  padding-left: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.add-task::placeholder {
  color: hsl(234, 39%, 85%);
}

.create-btn {
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  color: hsl(235, 24%, 19%);
  background-color: white;
  margin-right: 1.5rem;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* border: 1px solid #e5e5e5; */
}
ul li {
  padding: 1.4rem;
  height: 4.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.check-label-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* #list label {
  position: relative;
  cursor: pointer;
  align-self: center;
} */

.icon-div {
  display: flex;
  gap: 1.2rem;
}

.fa-trash,
.fa-pen,
.checkbox {
  cursor: pointer;
}
